# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dirstamp
*.exe
*.l[ao]
*.obj
*~
._*
.deps/
.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/plugin.ac
/configure
/example/couchview
/example/couchview_yajl
/example/memcat
/example/memcp
/example/memdump
/example/memflush
/example/memrm
/example/memstat
/example/pillowfight
/include/libcouchbase/configuration.h
/include/memcached/protocol_binary.h
/include/memcached/vbucket.h
/libcouchbase*.changes
/libcouchbase*.deb
/libcouchbase*.dsc
/libcouchbase*.rpm
/libcouchbase*.tar.gz
/libcouchbase.exp
/libcouchbase.lib
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/version.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
/tests/*-test
/tests/CouchbaseMock.jar
/vc100.pdb
