# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dirstamp
*.dll
*.dobj
*.exe
*.exp
*.gcda
*.gcno
*.gcov
*.l[aon]
*.lib
*.obj
*.orig
*.profile
*.swp
*.swo
*~
._*
.deps/
.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/plugin.ac
/configure
/example/yajl/couchview
/example/pillowfight/pillowfight
/example/syncmode/syncmode
/example/libeventdirect/eventloop
/example/minimal/minimal
/gtest-1.6.0
/gtest-1.6.0.zip
/include/libcouchbase/configuration.h
/libcouchbase*.changes
/libcouchbase*.deb
/libcouchbase*.dsc
/libcouchbase*.rpm
/libcouchbase*.tar.gz
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/version.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
/tests/*-test
/tests/unit-tests
/tests/CouchbaseMock.jar
/tools/cbc
/vc100.idb
/vc100.pdb
core*
