# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dirstamp
*.exe
*.l[ao]
*.obj
*~
.deps/
.libs/
/*-test
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/pandora_vc_revinfo
/config/plugin.ac
/configure
/example/memcat
/example/memcp
/example/memdump
/example/memrm
/include/libcouchbase/configuration.h
/libcouchbase.exp
/libcouchbase.lib
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/version.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
/vc100.pdb
