#!/usr/bin/make -f

%:
	dh $@

override_dh_strip:
	dh_strip -plibcouchbase2-libevent -plibcouchbase2-libev --dbg-package=libcouchbase2-dbg
	dh_strip --remaining-packages

override_dh_auto_configure:
	dh_auto_configure -- --disable-couchbasemock
